body{
	background-color: #000;
}


#testing{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	position: fixed;
	bottom: 5px;
	left: 5px;
	border-radius: 5px;
	padding: 2px 4px;
}
#testing:before{
	content: "Online:";
	padding: 2px;
}


/*BACKGROUND SCENE*/
/*FOR API ART*/
#scene-holder{
	width: 100vw;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	/*background-color: red;*/
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}
#background{
	width: 100vw;
	height: 60%;
	background-color: rgba(164,206,238,1);
	position: absolute;
	top: 0;
	z-index: -1;
}
#middleground{
	width: 100vw;
	height: 60%;
	background-color: rgba(100,100,100,0.9);
}
#foreground{
	width: 100vw;
	height: 50%;
	background-color: rgba(50,50,50,0.9);
	position: absolute;
	bottom: 0;
}







/*MAIN GAME OBJECTS*/
#game-holder{
	/*opacity: .5;*/
	width: 100vw;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	/*background-color: red;*/
	position: relative;
}








#main-display{
	width: 100%;
	height: 16vh;
	/*background-color: rgba(0,0,255,0.5);*/
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
}

#p1-data,#p2-data{
	min-width: 40%;
	height: 100%;
	/*background-color: rgba(0,255,0,1);*/
	padding: 0 2vmin;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center top;
    font-size: 4vmin;
    color: #fff;
	z-index: 1;
	position: relative;
}
#p2-data{
	margin-left: auto;
}
.name{
	position: absolute;
	padding: 1vmin 0;
	/*background-color: #333;*/
	font-family: 'Permanent Marker', cursive;
	width: calc(100% - 6vmin);
	color: rgba(255,255,0,1);
	text-shadow: -1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000,
		-1px 4px 3px rgba(0,0,0,0.7),
		-4px -2px 5px rgba(0,0,0,0.5),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}
#p2-data .name{
	text-align: right;
}

.health-outer{
	background-color: red;
	box-shadow:inset 0 -1vmin 3vmin black;
	border:3px solid yellow;
	margin-top:5px;
	margin-bottom:2px;
	width: calc(100% - 6px);
	border-radius: 1vmin;
	overflow: hidden;
}
.health-inner{
	background-color: green;
	padding: 0;
	margin:0;
	width: 66%;
	height: calc(100% - 4px);
	border-right:2px solid #333;
	box-shadow: 0px 0px 10px black;
	transition: width .2s ease;
}
#p2-data .health-inner{
	width: 33%;
	margin-left: auto;
	margin-right:0;
	border-right:0px;
	border-left:2px solid #333;
}

.stats{
	/*background-color: #333;*/
	width: 90%;
	display: inline-flex;
    font-size: 3vmin;
    text-shadow:
    	-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
}
.wins{
	background-color: green;
	padding: 0 1vmin;
	margin-right: 10px;
	border-radius: 1vmin;
	border:1px solid #000;
}
.wins:before{ 
	content: "\2714";
	padding-right: 10px; 
}
#p2-data .wins{
	margin-left: auto;
}
.losses{
	background-color: #bb3232;
	padding: 0 1vmin;
	border-radius: 1vmin;
	border:1px solid #000;
}
.losses:before{ 
	content: "\2716"; 
	padding-right: 10px;
}








#spectator-holder{
	width: 90vw;
	max-width: calc(65vh - 10px);
	height: 10vh;
	background-color: red;
	background-image: url("./images/bg-stone.jpg");
	background-size: 20vh;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
    align-items: center bottom;
    justify-content: center;

    -webkit-border-top-left-radius: 2vmin;
	-webkit-border-top-right-radius: 2vmin;
	-moz-border-radius-topleft: 2vmin;
	-moz-border-radius-topright: 2vmin;
	border-top-left-radius: 2vmin;
	border-top-right-radius: 2vmin;
	border-top: 3px solid rgba(0,0,0,.7);
}
.spectator{
	width: calc(12vh - 2px);
	height: calc(12vh - 2px);
	margin-top: 5vh;
	background-image: url("./images/bg-stone.jpg");
  	background-blend-mode: multiply;
	background-size: 15vh;
}
#s1, #s2, #s3, #s4, #s5{
	width:90%;
	height: 90%;
	background-color: rgba(0,0,0,0.7);
	background-image: url("./images/spectators/spectator_empty.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	box-shadow: inset 0 1vmin 10px 3px #000;
	border-bottom: 3px solid rgba(0,0,0,.7);
}



.building-post{
	width: 5vw;
	height: 42vh;
	background-color: #000;
	background-image: url("./images/bg-stone.jpg");
	background-size: 20vh;
	position: relative;
	filter: drop-shadow( 0px 10vh 15px rgba(0,0,0,0.3) ) ;
}

.building-post:nth-child(4){
	-webkit-border-radius: 1vmin;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 1vmin;
	-moz-border-radius-topright: 0;
	border-radius: 1vmin;
	border-top-right-radius: 0;
	border-left: 3px solid rgba(0,0,0,.7);
}
.building-post:nth-child(10){
	-webkit-border-radius: 1vmin;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 1vmin;
	-moz-border-radius-topleft: 0;
	border-radius: 1vmin;
	border-top-left-radius: 0;
	border-right: 3px solid rgba(0,0,0,.7);
}

.building-front-upper{
	width: 98vw;
	max-width: calc(75vh - 10px);
	margin-top: -3vh;
	height: 5vh;
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: center bottom;
    justify-content: center;

}
.building-front-upper div{
	width: 100%;
	height: 100%;
	background-color: #333;
	background-image: url("./images/bg-stone.jpg");
    background-size: 20vh;
	border-radius: 1vmin;
	border-top: 3px solid rgba(0,0,0,.7);
}
.building-front-upper div:nth-child(n+1):nth-child(-n+3){
	margin: 0 1.5vw;
	border-left: 3px solid rgba(0,0,0,.7);
	border-right: 3px solid rgba(0,0,0,.7);
}

.building-front-lower{
	width: 90vw;
	max-width: calc(60vh - 10px);
	margin-top: 16.5vh;
	height: 5vh;
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: bottom;
    background-image: url("./images/bg-stone.jpg");
    background-size: 20vh;
}

.building-under{
	width: 90vw;
	max-width: calc(60vh - 10px);
	margin-top: calc(20vh - 2px);
	height: 6vh;
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: bottom;
    background-image: url("./images/bg-stone.jpg");
    background-size: 15vh;
    background-color: rgba(0,0,0,.7);
  	background-blend-mode: multiply;
  	-webkit-border-bottom-right-radius: 45%;
	-webkit-border-bottom-left-radius: 45%;
	-moz-border-radius-bottomright: 45%;
	-moz-border-radius-bottomleft: 45%;
	border-bottom-right-radius: 45%;
	border-bottom-left-radius: 45%;
	box-shadow: inset 0px 20px 20px 10px #000;
}

.building-under .building-post{
	width: 4vw;
	margin-left: 5vw;
	height: 15vh;
	margin-top: 3vh;
	border-radius: 0;
	background-image: url("./images/bg-stone.jpg");
    background-size: 15vh;
    background-color: rgba(0,0,0,.7);
  	background-blend-mode: multiply;
  	border-left: 0;

  	-webkit-border-bottom-right-radius: 1vmin;
	-webkit-border-bottom-left-radius: 1vmin;
	-moz-border-radius-bottomright: 1vmin;
	-moz-border-radius-bottomleft: 1vmin;
	border-bottom-right-radius: 1vmin;
	border-bottom-left-radius: 1vmin;
}
.building-under .building-post:nth-child(2){
	margin-left: auto;
	margin-right: 5vw;
}







#battle-holder{
	width: 95%;
	height: 58vh;
	/*background-color: green;*/
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
}
#p1-holder,#p2-holder{
	width: 49%;
	height: 100%;
	/*background-color: black;*/
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
#p2-holder{
	margin-left: auto;
}










.player-inputs{
	/*background-color: #000;*/
	/*width: 9%;*/
	height: 35vh;
	position: absolute;
	border: 6px solid rgba(255,255,255,0.7);
	border-radius: 25px;

	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center top;
    overflow: hidden;
    box-shadow: inset 1px 1px 50px #fff, 1px 1px 25px #000;
    z-index: 2;
}
.label{
	background-color: rgba(255,255,255,0.7);
	color:#000;
	font-size: larger;
	cursor: default;
}
.choices{
	width: 100%;
	height: 50%;
	margin-top: auto;
	margin-bottom: 0;
	/*background-color: #333;*/
	font-size: larger;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choices input{
	cursor:pointer;
	width: 50%;
	height: 100%;
	/*background-color: rgba(255,255,255,0.8);*/
	background-color: transparent;
	border:0px;
	color: #fff;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;

}
.choices input:nth-of-type(1){
	-webkit-border-top-right-radius: 50%;
	-moz-border-radius-topright: 50%;
	border-top-right-radius: 50%;
}
.choices input:nth-of-type(2){
	-webkit-border-top-left-radius: 50%;
	-moz-border-radius-topleft: 50%;
	border-top-left-radius: 50%;
}
.choices input:hover{
	background-color: rgba(255,255,255,0.7);
	cursor: pointer;
}
.choices input:active{
	background-color: rgba(100,100,100,0.7);
	cursor: pointer;
}




/*PLAYER ANIMATION SYSTEM*/
/*CONTAINERS*/
.visual-holder{
	width: calc(50vw - 10px);
	max-width: calc(50vh - 10px);
	height:  calc(40vw - 10px);
	max-height: calc(40vh - 10px);
	/*background-color: red;*/
	/*border: 5px solid #000;*/
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
#p1-visual, #p2-visual{
	width: 105%;
	height: 105%;
	/*background-color: green;*/
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	transform: skewY(0) rotateX(0) translate(0);
	background-image: url("./images/players/p1_idle.png");
	filter: drop-shadow(0px 12px 5px rgba(0,0,0,0.5)) drop-shadow(0px 90px 25px rgba(0,0,0,0.5) );
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
#p2-visual{
	background-image: url("./images/players/p2_idle.png");
}












/*PLAYER ANIMATION SYSTEM*/
/*ANIMATIONS*/

/*IDLE*/
#p1-holder .idle{
	/*background-image: url("./images/players/p1_idle.png") !important;*/
	animation: idle_A 2s infinite;
	animation-direction: alternate;
}
#p2-holder .idle{
	/*background-image: url("./images/players/p2_idle.png") !important;*/
	animation: idle_B 2s infinite;
	animation-direction: alternate;
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
@keyframes idle_A {
  0% {	transform: skewY(2deg) rotateX(0) translate(0);
  }
  100% {transform: skewY(-2deg) rotateX(20deg) translate(0,6px);
  }
}
@keyframes idle_B {
  0% {	transform: skewY(-2deg) rotateX(0) translate(0);
  }
  100% {transform: skewY(2deg) rotateX(20deg) translate(0,6px);
  }
}

/*ATTACK HIGH*/
#p1-holder .attack-high{
	animation: attack_high_A 2s forwards;
	z-index: 1;
}
@keyframes attack_high_A {
  90%{ margin-left: 99vw; }
  91%{ margin-left: 100vw; }
  92%{ margin-left: 98vw; }
  100%{ margin-left: 0;  }
}
#p2-holder .attack-high{
	animation: attack_high_B 2s forwards;
	z-index: 1;
}
@keyframes attack_high_B {
  90%{ margin-left: -99vw; }
  91%{ margin-left: -100vw; }
  92%{ margin-left: -98vw; }
  100%{ margin-left: 0;  }
}

/*ATTACK LOW*/
#p1-holder .attack-low{
	animation: attack_low_A 2s forwards;
}
@keyframes attack_low_A {
  90%{ margin-left: 99vw; }
  100%{ margin-left: 0;  }
}
#p2-holder .attack-low{
	animation: attack_low_B 2s forwards;
}
@keyframes attack_low_B {
  90%{ margin-left: -99vw; }
  100%{ margin-left: 0;  }
}


/*DEFEND HIGH*/
.defend-high{
	animation: defend_high 2s forwards;
}
#p1-holder .defend-high{
	z-index: 1;
}
@keyframes defend_high {
	0% {transform: rotateX(0);
  	}
  	90%{transform: translate(0,-8vh);
  	}
}

.defend-low{
	animation: defend_low 2s forwards;
}
#p1-holder .defend-low{
	z-index: 2;
}
#p2-holder .defend-low{
	z-index: 1;
}
@keyframes defend_low {
	0% {transform: rotateX(0);
  	}
  	90%{transform: translate(0,2vh);
  	}
}








/*BLOOD*/
.blood-splatter-holder{
	width: 8vw;
	height: 5vw;
	/*background-color: green;*/
	animation: blood_splat 1s forwards;
}
@keyframes blood_splat {
	50%{ 
  		margin-top: -5vh; 
  		transform: scale(1.2);
  	}
}
.blood-drip{
	position: relative;
	width: 1vw;
	max-width: 2vmin;
	height: 1vw;
	max-height: 2vmin;
	background-color: red;
	border-radius: 5px !important;
	background-blend-mode: difference;
	animation: blood_drip-anim 2s forwards;
	outline: #800000 solid 1px;

}
@keyframes blood_drip-anim {
  	100%{ 
  		margin-top: 10vh; 
  		opacity: 0; 
  		width: 0px;
  		height: 0px;
  	}
}











#sub-display{
	width: 100%;
	height: 16vh;
	/*background-color: green;*/
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}
#sub-display-inner{
	width: 80%;
	height: 100%;
	/*background-color: rgba(255,0,0,0.5);*/
}





#joinGame{
	width: 100%;
	height: 80%;
	/*background-color: #fff;*/
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: 2px solid rgba(100,100,100,1);*/
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 30px #000;
}


#joinGame-input{
	width: 75%;
	height: 100%;
	font-size: 3vw;
	text-align: center;
}

#joinGame-submit{
	/*background-color: #ccc;*/
	border: 0px;
	width: 25%;
	height: 100%;
	padding: 0;
	color:#fff;
	box-shadow:inset 0px 10px 30vw #000;
	text-shadow: 
		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000,
    	-2px -2px 3px #000,  
    	2px -2px 3px #000,
    	-2px 2px 3px #000,
    	2px 2px 3px #000;
}






/*SHAKE*/
.shake {
  -webkit-animation: shake_anim 0.5s;
  animation: shake_anim 0.5s;
}

@keyframes shake_anim {
	/*old shake*/
/*	10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }*/

  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
